<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Faculty Details</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style type="text/css">
label {
	display: inline-block;
	width: 200px;
	margin: 5px;
	text-align: left;
}
body {
    
    background-image: url(images/cloud.jpg);
    background-size: 100%;
    position: relative;
}
</style>
</head>
<body>


	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="/">Best Engineering College</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a>
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/ViewAbout}">About Us</a>
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/ViewContact}">Contact</a>
			</ul>
		</div>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/LoginPage}">Login</a>
			</ul>
		</div>


	</nav>

	<div class="container text-center">
		<h1>All Faculty Data</h1>
	</div>
	<section>
		<div class="table-responsive text-nowrap">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Faculty ID</th>
						<th width="300px">Faculty Name</th>
						<th>Designation</th>
						<th>Educational Qualification</th>
						<th width="300px">Date of Birth</th>
						<th>Blood Group</th>
						<th width="100px">Address</th>
						<th>Gender</th>

						<th>Contact Number</th>

						<th>Email</th>
						<th width="300px">Date of Joining</th>
						<th>Salary</th>
						<th width="200px">Last Updated</th>
						<th>Action</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="faculty:${staff_registration}">
						<td th:text="${faculty.faculty_Id}"></td>
						<td th:text="${faculty.faculty_Name}"></td>
						<td th:text="${faculty.designation}"></td>
						<td th:text="${faculty.educational_Qualification}"></td>
						<td th:text="${faculty.date_Of_Birth}"></td>

						<td th:text="${faculty.blood_Group}"></td>
						<td th:text="${faculty.address}"></td>
						<td th:text="${faculty.gender}"></td>


						<td th:text="${faculty.contact_Number}"></td>

						<td th:text="${faculty.email}"></td>
						<td th:text="${faculty.date_Of_Joining}"></td>
						<td th:text="${faculty.salary}"></td>
						<td th:text="${faculty.last_Updated}"></td>
						<td style='white-space: nowrap'><a
							th:href="@{faculty/edit/{Faculty_Id}(Faculty_Id=${faculty.Faculty_Id})}"
							class="btn btn-outline-success navitem" data-inline="true">Edit</a>


							<a
							th:href="@{faculty/{Faculty_Id}(Faculty_Id=${faculty.Faculty_Id})}"
							class="btn btn-outline-danger navitem " data-inline="true">Delete</a>

						</td>


					</tr>
				</tbody>
			</table>
		</div>

	</section>
	<div class="m-5">
		<div class="container text-center">
			<a href="/FacultyModule" class="btn  btn-outline-primary ">Back</a>
		</div>
	</div>
</body>



</html>